* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #000;
	background: #f3f3f3;
}

li{
	list-style: none;
}

.header {
	background: #636363;
	color: #fff;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}

.form {
	margin: 10px;
	padding: 10px;
}

.todo-item {
	margin: 5px;
	padding: 10px;
	text-align: justify;
	font-size: 12px;
	justify-items: center;
}

.add-btn {
	float: right;
	background: #636363;
	border: none;
	padding: 4px 8px;
	color: #f3f3f3;
	border-radius: 3px;
}

.btn-default {
	color: #f3f3f3;
	background: #636363;
}